<?xml version   ="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.com.antoniodesouza.karaokeraimundos"
    versioncode = "1"
    version     = "1.0.0">
    
    <name>Karaoke dos Raimundos</name>
    
    
    <description>
        Selecione as musicas do Karaoke dos Raimundos
    </description>
    
    <author href="http://antoniodesouza.com.br"  email="contato@antoniodesouza.com.br">
        Antonio de Souza
    </author>
        
    <!-- <preference name="phonegap-version" value="2.9.0" /> -->
    <preference name="orientation" value="portrait" />
    <icon src="icon.png" width="128" height="128" />
    

</widget>

